body {
	background-color:#E9FFD0;
}

input {
	border-style:solid;
	border-color: Black;
	border-width: 1px;
	/*background-color:Yellow;*/
}

input:hover {
	border-color:Blue;
	border-width:2px;
}


select {
	border-style:solid;
	border-color: Black;
	border-width: 1px;
}

select:hover {
	border-color:Blue;
	border-width:2px;
}


textarea {
	border-style:solid;
	border-color: Black;
	border-width: 1px;
}

textarea:hover {
	border-color:Blue;
	border-width:2px;
}



.header {
	background-color: #FEFFCF;
	color: inherit;
	border-bottom: 4px Black;
	border-style: solid;
}

.title {
	font-family: "Verdana" , fantasy;
	font-size:xx-large;
	font-variant:small-caps;
	color:#cd1515;
	background-color: inherit;
	padding-bottom:5px;
	padding-top:5px;
}

.language_selector a {
	font-size:small;
	color:White;
	font-family: "Lucida Sans" , serif;
	background-color:Black;
	text-decoration:none;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
}

.language_selector a:hover {
	color:Black;
	background-color:White;
}

/*a:visited*/

.doc_body {
	/*background:#1050ff;*/
	border-bottom: 4px Black;
	border-right: 2px Black;
	border-style: solid;
}

.menu {
	background-color:#1050ff;
	color:inherit;
	vertical-align: top;
	height:100%;
	/*width:100%;*/
	/*padding-left:10px;
	padding-right:10px;*/
	border-width: 0px 5px 0px 2px ;
	border-style: solid;
	font-family: "Arial" , serif;
}

.fmenu {
	/* position:fixed; */
	vertical-align: top;
}

.selected {
	background:#ff7c00;
	color:inherit;
	border-style:solid;
	padding:3px;

}

.unselected {
	border-color:Black;
	border-style:solid;
}

.unselected:hover {
	border-color:Green;
	border-style:solid;
}

.unselected a {	
	color:Black;
	background-color:Aqua;
	text-decoration:none;
	padding:3px;
	display:block;
}

.unselected a:hover {
	color:Red;
	background-color:White;
	text-decoration:none;
}

.document {
	background:#efefef;
	color:inherit;
	font-family: "Times", serif;
	font-size: large;
	/*padding:15px;*/
	height:100%;
}

.document h1 {
	font-family: "Helvetica" , serif;
	font-size:xx-large;
	color: #705718; /*#9c6500;*/ /*#ff3300; */
	background:inherit;
	text-transform:capitalize;
	letter-spacing:  2px;
}

.document h2 {
	/* text-decoration:underline; */
	font-size:x-large;
	color: #1f2f1F;
	font-family: "Arial" , serif;
}

.document h3 {
	color:aqua;
	background-color:inherit;
}

.fot {
	background-color: #FEFFCF;
	color:inherit;
}

.debug {
	color: #3056E5;
	background:inherit;
	font-size:x-small;
	font-variant:small-caps;
	font-family: "Arial" , fantasy;
	padding:10px;
}

.family {
	color:Green;
	background:inherit;
	font-size:small;
	position:relative;
	top:-5px;
	font-family: "Courier New" , monospace;
	border-bottom: 1px Green;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-style:Solid;
	display: inline;
}

.family a {
	color:Green;
	background:inherit;
	text-decoration:none;
}

.family a:hover {
	color:Red;
	background:inherit;
}

.folder {
	float:left;
	padding-top:6px;
	padding-left:6px;
	padding-right:6px;
	border-style:Solid;
	margin:5px 5px 5px 5px;
	border:2px solid;
	/*border-color:#eeeeee #000000 #000000 #eeeeee;*/
	border-color:#101030;
	background-color:#ddddd6;
	color:inherit;
	text-align:center;
	cursor: pointer;
	width:160px;
	height:190px;
	/*width:20%;
	height:40%;*/
	overflow:hidden;
}

.folder:hover {
	background-color:#ccccc6;
	color:inherit;
	outline-style: groove;
	/*border-color: #000000 #eeeeee #eeeeee #000000;*/
	border-color:#efefcf;
}

.folder a {
	text-decoration:none;
	color:inherit;
}

.folder_title {
	font-family: "Arial Black" , cursive;
	font-size:large;
}

.description {
	font-family: "Helvetica" , sans-serif ;
	padding-bottom:10px;
	font-size:small;
}


.options {
	background-color:#59a0ed;
	color:inherit;
	font-weight:bold;
	padding:2px;
}

.setjumpfrm {
	border-style: none;
	padding: 0;
}

.notebook_tabname {
	background-color: #9dc8d6;
	text-decoration:none;
	color:Black;
	padding:2px;
	font-family: "Times" , serif;
	border-width: 1px;
	border-style: solid;
}

.notebook_tabname:hover {
	background-color:#623729;
	color:White;
}

.notebook_tabname_selected {
	background-color: #bde8f6;
	text-decoration:none;
	color:Black;
	padding:2px;
	font-weight: bold;
	font-family: "Times" , serif;
	border-width: 1px;
	border-style: solid;
}

.notebook_tabname_selected:hover {
	background-color:#421709;
	color:White;
}

.upload_ctrl {
	background-color:inherit;
	color: blue;
	font-family: "Courier" , serif;
}

.upload_ctrl input {
	background-color: #ffa500;
	border-style:solid;
	border-color: Black;
	border-width: 1px;
}

.upload_ctrl input:hover {
	border-width:2px;
	border-color:Blue;
}

